language: node_js
node_js:
- '6'
sudo: false
dist: trusty
addons:
  chrome: stable
cache:
  directories:
  - "$HOME/.npm"
env:
  global:
  - JOBS=1
before_install:
- npm config set spin false
script:
- npm run lint:js
- npm run build
- npm test
before_deploy:
- rm -rf dist
- yarn ember build --environment=production --output-path=./dist/release/milky-way
- tar -cvzf ./dist/release/milky-way.tar.gz -C ./dist/release ./milky-way
deploy:
  provider: releases
  api_key:
    secure: wV1LNHUr1dcbK2IiVAPLUgk02yrAnyRr3cnOjCBB5NdpwbeW23IjCsC4D9JpHlSgYl8lIeMSXAc+UtXKIROAD4LAjLwU9HRbKaNbUO3xkJqo/l+k2A2SQ1BgWF+uQU0hzF86tlEjzhBp+y5GGb3YJgF3QM90OEGAHPyEL1Hhaw7I7ljTelpX8oAtYjNKOIzh2oLJllAm7LTQKTOu+R3vyVJasKps8XJkXH4OmDgWdv4ejGqjM5UOIOY6gebtt507wKNVOCBmWNJA/WRY+bOTs/mN5E9CQ8/dn7sbSjHJ8BFBLov+bIoLfs4l7IY4ixamxnqkx7jGhzWro1OtupWEsPBxjuwc2q9fnUshkNBj/tfSPp+gIKymXR5pAxUrNrtE5hcyHShJ26sic+t0UdXPsCZFN0z6zlB32kzV0fI8nzNXSMK/t+ss00Uhd92vTA/sVU6c+I3dYoJSb+V0Sznat6wf8D9c03i0+yfOPc8mcFs3lFQAXLmEAsnSy/zzqyoUlWdiVN1Yp5TOgM4DS1TJN9hvYJY8MZ6RFhg/6PkiYB/8717JuxXpfnyY5PttpSgDcGll/E9nzxY2eGuR8dSOk57l7z7W5g93gjt4R7Kctf4qwh0L8T8/8rh6vuWgm4yEc4jtiQgizMVlLoR0zyooN0LHORnvBcVbeAW+Ysa1Q3s=
  file: "./dist/releases/*.tar.gz"
  file_glob: true
  skip_cleanup: true
  on:
    tags: true
