.wrapper {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto;
  
  height: 500px;
  width: 500px;
  border-radius: 50%;
  overflow: hidden;
  border: 20px solid #d63737;
  background: #111635;
  
  // &:after {
  //   content: '';
  //   background: linear-gradient(to right, rgba(#fff, 0), rgba(#fff, 0.05));
  //   position: absolute;
  //   left: -50px;
  //   top: 0px;
  //   height: 600px;
  //   width: 300px;
  //   display: block;
  //   z-index: 5;
  // }
}

.galaxy {
  position: absolute;
  top: -500px; right: 0;
  bottom: 0; left: -500px;
  margin: auto;
}

.star {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto;
  
  height: 8px;
  width: 8px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(#fff, 0.2);
  animation: twinkle 3s linear infinite alternate;
  
  &.yellow {
    background: #ffd263;
  }
  
  &.red {
    background: #ff6262;
  }
}

.astronaut {
  position: absolute;
  top: -100px; right: 0;
  bottom: 0; left: 0;
  margin: auto;
  width: 100%;
  
  animation: floating 2s ease-in-out infinite alternate;
}

.helmet {
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  margin: auto;
  
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: #e0e0e0;
  
  box-shadow: 0 5px 0 rgba(#000, 0.1);
  z-index: 3;
  
  &:before {
    content: '';
    background: #7fadc6;
    position: absolute;
    left: -10px;
    top: 130px;
    height: 50px;
    width: 25px;
    display: block;
    border-radius: 5px;
    z-index: 4;
    box-shadow: 1px 3px 0 rgba(#000, 0.2);
  }
  
  &:after {
    content: '';
    background: #7fadc6;
    position: absolute;
    right: -10px;
    top: 130px;
    height: 50px;
    width: 25px;
    display: block;
    border-radius: 5px;
    z-index: 4;
    box-shadow: 1px 3px 0 rgba(#000, 0.2);
  }
}

.visor-shine {
  position: absolute;
  right: 0;
  bottom: 34px; left: 0;
  margin: auto;
  
  height: 170px;
  width: 250px;
  border-radius: 100px 100px 260px 260px;
  background: linear-gradient(rgba(#fff,0.2), rgba(#000,0.1));
  overflow: hidden;
  z-index: 4;
}

.visor {
  position: absolute;
  right: 0;
  bottom: 25px; left: 0;
  margin: auto;
  
  height: 170px;
  width: 250px;
  border-radius: 100px 100px 260px 260px;
  background: #333333;
  overflow: hidden;
  z-index: 3;
  border: 8px solid #7fadc6;
  box-shadow: 0 5px 0 rgba(#000, 0.1);
  
  &:before {
    content: '';
    background: #333333;
    position: absolute;
    left: 10px;
    top: 20px;
    height: 200px;
    width: 200px;
    display: block;
    border-radius: 50px;
    z-index: 2;
  }
  
  &:after {
    content: '';
    background: #a5a5a5;
    position: absolute;
    top: 10px;
    left: 15px;
    height: 100px;
    width: 100px;
    display: block;
    border-radius: 40px 30px 0 20px;
    z-index: 1;
  }
}

.neck {
  position: absolute;
  top: 200px; right: 0;
  bottom: 0; left: 0;
  margin: auto;
  background: #d1d1d1;
  height: 200px;
  width: 150px;
  border-radius: 50px;
  border-bottom: 20px solid #d63737;
  z-index: 1;
}

.pack {
  position: absolute;
  top: 500px; right: 0;
  bottom: 0; left: 0;
  margin: auto;
  background: #d6d6d6;
  height: 300px;
  width: 350px;
  border-radius: 50px 50px 0 0;
  z-index: 0;
  
  animation: pack 2s ease-in-out infinite alternate;
  
  &:after {
    content: '';
    background: #c6c6c6;
    position: absolute;
    top: 25px; right: 0;
    bottom: 0; left: 25px;
    
    height: 100px;
    width: 300px;
    display: block;
    border-radius: 40px 30px 0 20px;
  }
}

.astro_body {
  position: absolute;
  top: 630px; right: 0;
  bottom: 0; left: 0;
  margin: auto;
  background: #e0e0e0;
  height: 300px;
  width: 500px;
  border-radius: 100px 100px 0 0;
  z-index: 0;
  overflow: hidden;
  
  &:after {
    content: '';
    background: rgba(#c6c6c6, 0.3);
    position: absolute;
    top: -300px; right: 0;
    bottom: 0; left: 0;
    margin: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    
  }
}

@keyframes floating {
  0% { top: -100px }
  50% { top: -50px }
  100% { top: -100px }
}

@keyframes pack {
  0% { top: 520px }
  50% { top: 500px }
  100% { top: 520px }
}

@keyframes twinkle {
  0% { box-shadow: 0 0 0 5px rgba(#fff, 0.2); height: 8px; width: 8px; }
  50% { box-shadow: 0 0 0 2px rgba(#fff, 0.1); height: 5px; width: 5px; }
  100% { box-shadow: 0 0 0 5px rgba(#fff, 0.2); height: 8px; width: 8px; }
}
