<div class="wrapper">
  <div class="galaxy"></div>
  <div class="astronaut">
    <div class="helmet">
      <div class="visor-shine"></div>
      <div class="visor"></div>
    </div>
    <div class="neck"></div>
    <div class="pack"></div>
    <div class="astro_body"> </div>
  </div>
</div>
